::root {
  --main-color: #114c63;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 85%;
  /* height: 671px; */
}
body {
  font-family: "Noto Kufi Arabic", sans-serif;
  overflow-x: hidden;
}
/* start header */
.header {
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 671px;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  z-index: 9999;
  position: relative;
}

nav > ul {
  display: flex;
  width: 574px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.link {
  color: #fff;
  font-size: 16px;
}
.navbar-nav{
    width: 589px;
    justify-content: space-between;
    align-items: center;
}
.head-nav{
justify-content: space-around !important;
}
.login {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logIn {
  width: 89px;
  height: 27px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.reg {
  width: 106px;
  height: 33px;
  background-color: #fff;
  border-radius: 49px;
  color: #114c63;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}
.laylout {
  background: linear-gradient(
    180deg,
    rgba(17, 76, 99, 0.43) 35.86%,
    rgba(217, 217, 217, 0) 100%
  );
  width: 100%;
  height: 671px;
  top: 0px;
  position: absolute;
}
.line {
  position: absolute;
  width: 100%;
  top: 8%;
  border-bottom: 1px solid #fff;
  z-index: 999;
}
.header-hero {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 10%;
  right: 1%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: relative;
}
.hero-title,
.hero-subTitle {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 61px;
  width: 346px;
  height: 61px;
  margin: 0px;
}
.hero-subTitle {
  width: 490px;
  height: 66px;
}
.hero-info {
  color: #fff;
  width: 500px;
  height: 54px;
  font-size: 12px;
  font-weight: 400;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 530px;
}
.search-input {
  width: 456px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
}
.search-input:focus {
  outline: none;
  padding: 10px;
}
.search-btn {
  background-color: #114c63;
  width: 76px;
  height: 48px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#bars{
    /* display: none; */
    display: block;
}
/* end header */
.services {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 460px;
}
.services .mult-ser {
  color: #44acd4;
  font-size: 14px;
  font-weight: 400;
  height: 27px;
  display: inline-block;
}
.ser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27px;
  margin: 10px 0px;
}
.ser > span {
  color: #000;
  font-weight: 600;
  font-size: 24px;
  width: 80px;
  height: 46px;
}
.more > span {
  color: #44acd4;
  font-size: 14px;
  font-weight: 400;
}
.ser-info {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  height: 27px;
}
.ser-info span {
  color: #114c63;
}
.services .card {
  background: #fff;
  box-shadow: 0px 4px 21px 1px rgba(0, 0, 0, 0.06);
  border: none;
  width: 278px;
  height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.4rem;
  gap: 1rem;
  margin-bottom: 8px;
}
.services .card > img {
  width: 36px;
  height: 36px;
  background: rgba(216, 242, 252, 0.43);
  border-radius: 50%;
}
.services .card-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.services .card-text {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  width: 228px;
  height: 59px;
}
/* start services */
/* start about us */
.sec-about {
  margin-top: 6rem;
  
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-side > span {
  color: #44acd4;
  font-size: 14px;
  font-weight: 400;
}
.right-side .about-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
.right-side .about-info {
  color: #000;
  width: 555px;
  height: 112px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.about-more {
  background-color: #114c63;
  color: #fff;
  font-size: 12px;
  width: 106px;
  height: 40px;
  border-radius: 109px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  position: relative;
}
.left-img2 {
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.list {
  width: 196px;
  height: 161px;
  background-color: #114c63;
  box-shadow: -18px 12px 21px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  position: absolute;
  top: -5%;
  right: 35%;
  padding: 1rem;
}
.list-item {
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 5px;
}
.list-item > img {
  background-color: #fff;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  padding: 3px;
}
.win {
  width: 237px;
  height: 52px;
  background-color: #fff;
  box-shadow: 0px 14px 37px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -7%;
  right: -20%;
  gap: 0.5rem;
}
.win > span {
  border-left: 0.1px solid #eee;
  padding: 0.5rem;
  font-size: 16px;
}
/* end about us */
.statistics {
  margin-top: 6rem;
  position: relative;
  background: linear-gradient(
    264.28deg,
    rgba(17, 76, 99, 0.02) 0.55%,
    rgba(91, 152, 175, 0.02) 49.66%,
    rgba(32, 96, 121, 0.02) 99.51%
  );
}
.sta-asset {
  position: absolute;
  top: -5%;
  left: 10%;
}
.set-title {
  color: #44acd4;
  font-size: 14px;
}
.img {
  width: 336px;
  height: 457.97px;
  position: absolute;
  top: -11%;
}
.sta-img {
  max-width: 100%;
  object-fit: cover;
}
.sta-info {
  padding: 3rem;
}
.statistics .card {
  flex-direction: row;
  height: 100px;
  padding: 10px;
  background-color: transparent;
  box-shadow: none;
  width: 210px;
  border: none;
}
.statistics .cards {
    margin-bottom: 10px;
}
.statistics .icons {
  background-color: #114c63;
  width: 74px;
  height: 74px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statistics .card-text {
  width: 85px;
  color: #114c63;
}

.card-item{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.courses {
  margin-top: 5rem;
  padding: 2rem;
}
.courses .card {
  max-width: 379px;
  max-height: 549px;
  background: #ffffff;
  box-shadow: 0px 1px 16px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: none;
  position: relative;
  margin-bottom: 15px;
}
.courses-title ,
.campany-title {
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size: 24px;

}
.card-body .card-title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.card-body .card-text {
  color: #999090;
  font-size: 14px;
}
.card-trainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-trainer .name {
  color: #114c63;
  font-size: 12px;
}
.date {
  color: #114c63;
  font-size: 12px;
}

.available {
  width: 80px;
  height: 27px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 12px;
  color: #000;
}
.cards{
    display: flex;
    justify-content: space-between;
  }
.available .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #6bdc58;
  margin-left: 5px;
}
.footer {
  background-color: #fff;
  height: auto;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  max-height: 45px;
}
.footer-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.footer-item img {
  max-width: 13.51px;
  object-fit: cover;
}
.footer-item span {
  color: #114c63;
  font-size: 12px;
}
.company {
  margin: 5rem 0px;

}
.campanies {
  display: flex;
  justify-content: space-between;
}
.campany-img {
  width: 201px;
  height: 80px;
}

footer {
  background-color: #114c63;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}
footer .container {
  height: auto;
}
.footer-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  /* padding-bottom: 100px; */
  align-items: center;
}
.footer-item img {
  max-width: 100%;
}
.pages {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 2rem;
  justify-content: space-between;
}
.pages .pages-names {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.social {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.social .icon {
  width: 36.19px;
  height: 36.19px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.contact-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.contact-input input {
  border: 1px solid #fff;
  background-color: transparent;
  width: 264px;
  height: 48px;
  border-radius: 8px;
  padding: 5px;
}

.contact-btn {
  width: 76px;
  height: 48px;
  border-radius: 4px;
  padding: 2px;
  color: #114c63;
  font-size: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyRight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  padding-top: 1rem;
}
.carousel-inner{
  height: 400px;
}
@media (max-width: 575.98px) {
  nav > ul {
    display: none;
  }
  .login {
    display: flex;
    flex-direction: column;
  }
  .nav-item{
    margin-bottom: 10px;
  }
  .header-hero{
    width: 350px;
  }
  .hero-title,
  .hero-subTitle {
    font-size: 16px;
  }
  .hero-subTitle{
    width: 300px;
  }
  .hero-info {
    font-size: 14px;
    width: 320px;
  }
  .search {
    margin-top: 20px;
    flex-wrap: wrap;
    width: 230px;
  }
  .search-input {
    width: 270px;
  }
  .search-btn {
    width:267px;
  }
  .navbar-nav{
    width: 300px;
  }
  .services .card {
    margin: auto auto 10px auto;
  }
  .right-side {
    margin-bottom: 20px;
  }
  .right-side .about-info {
    width: 346px;
    font-size: 11px;
  }
  .left-side {
    width: 320px;

  } 

  .win {
    right: -2%;
  }
  .courses {
    padding: 18px;
  }
  .courses-title{
    padding: 25px 0px;
  }
  .courses .card {

    width: 333px;
    height: 453px;
    margin-bottom: 25px;
  }
  .footer-item span {
    font-size: 8px;
  }

  footer{
    height: 430px;
    justify-content: center;
    align-items: center;
  }
  .pages .pages-names{
    display: block;
  }
.cards{
    display: block;
    margin-top: 10px;
}
  .card-item{
    justify-content: space-around;
    display: flex;
    margin-bottom: 10px;
  }
  .pages{
width: 300px;
  }
  .container {
    width: 100%;
  }
  .services .card{
    width: 153px;
    height: 160.21px;
    margin: 0;
    margin-bottom: 10px;
  }
  .services .card .card-title{
    font-size: 8px;
  }
  
  .services .card .card-text{
font-size: 6px;
width: 130.38px;
height: 34.25px;
  }
  .statistics .card-text {
    font-size: 10px;
    width: 100%;
  }
  .statistics .card-title{
    font-size: 12px;
    font-weight: 600;
    color: rgba(17, 76, 99, 1);

  }
  .card-body .card-title{
    font-size: 12px;
  }
  .card-body .card-text {
font-size: 10px;
  }
  .name-trainer .name ,.date{
    font-size: 8px;
  }
}


/* start about us page */
.about-header{
  height: 421px;
  background: url('../img/about-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:relative;
}

.about-laylout{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.about-header .line{
  top: 17%;
}
.about-header .header-hero {
  position: absolute;
width: 113px;
height: 61px;
right: 664px;
top: 200px;
font-weight: 700;
font-size: 32px;
line-height: 61px;
color: #fff;
}

/* about us section */
.about-page{
  margin-top: 5rem;
}
.about-se-span{
  display: flex;
  align-items: center;
gap:0.5rem
}
.about-se-span .lines{
display: flex;
flex-direction: column;
gap:0.2rem;
}

.about-se-span .lines span:first-child{
  width: 38px;
  height: 2px;
  background-color: #114C63;
}
.about-se-span .lines span:nth-child(2){
  width: 29px;
  height: 2px;
  background-color: #114C63;
}
.about-se-span .lines span:nth-child(3){
  background-color: #114C63;
  width: 21px;
height: 2px;
}
.about-se-title{
  font: 24px;
  font-weight: 700;
  margin: 1.5rem 0rem;
  color:#114C63;
}

.about-se-text{
width: 479px;
height: 89px;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #000;
}
.about-cards-top{
  display: flex;
  align-items: center;
  gap:2rem;
  margin-top: 4rem;
  
}
.about-cards-top  .top-card-title{
  width: 105px;
  height: 30px;
  font-weight: 700;
font-size: 16px;
line-height: 30px;
color: #114C63
}
.about-cards-top  .top-card-text{
width: 259px;
height: 81px;
font-weight: 400;
font-size: 14px;
line-height: 27px;
text-align: right;

color: #000000
}
.about-bottom-cards{
  position: relative;
margin-top: 20rem;

}
.bottom-card{
width: 278px;
height: 257px;
border: 1px solid #e4e4e4;
border-radius: 19px;
text-align: center;
margin-bottom: 25px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.bottom-card:nth-child(3){
  position: absolute;
  top: 32%;
  left: 4%;
  
}
.bottom-card-title{
  font-weight: 700;
font-size: 16px;
line-height: 30px;

color: #114C63
}
.bottom-card-text{
  width:232px;
  height: 81px;
  font-weight: 400;
font-size: 12px;
line-height: 23px;
text-align: center;

color: #000000;

}
.about-images{
  position: relative;
  height: 400px;

}
.about-images img{
  max-width: 100%;
}
.about-images img{
  max-width: 100%;
}
.about-images img:first-child{
  top: 21%;
  position: absolute;
}
.about-images img:nth-child(2){
left: 13%; 
 position: absolute;
}
.about-texts{
  margin-top: 14rem;
  padding: 6rem;
}
.about-texts-title{
  width: 479px;
  height: 111px;
  font-weight: 600;
font-size: 24px;
line-height: 46px;
text-align: right;

color: #000000;
}
.about-texts .about-text{
  width: 479px;
  height: 89px;
  font-weight: 400;
font-size: 16px;
line-height: 30px;
text-align: right;

color: #000000;
}
/* end about us section */



/* end about us page */