::root {
  --main-color: #114c63;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  /* height: 671px; */
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  overflow-x: hidden;
}

/* start header */
.header {
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 671px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  z-index: 9999;
  position: relative;
}

nav > ul {
  display: flex;
  width: 574px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.link {
  color: #fff;
  font-size: 16px;
}

.navbar-nav {
  width: 589px;
  justify-content: space-between;
  align-items: center;
}

.head-nav {
  justify-content: space-around !important;
}

.login {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logIn {
  width: 89px;
  height: 27px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.reg {
  width: 106px;
  height: 33px;
  background-color: #fff;
  border-radius: 49px;
  color: #114c63;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.laylout {
  background: linear-gradient(
    180deg,
    rgba(17, 76, 99, 0.43) 35.86%,
    rgba(217, 217, 217, 0) 100%
  );
  width: 100%;
  height: 671px;
  top: 0px;
  position: absolute;
}

.line {
  position: absolute;
  width: 100%;
  top: 8%;
  border-bottom: 1px solid #fff;
  z-index: 999;
}

.header-hero {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 10%;
  right: 1%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: relative;
}

.hero-title,
.hero-subTitle {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 61px;
  width: 346px;
  height: 61px;
  margin: 0px;
}

.hero-subTitle {
  width: 490px;
  height: 66px;
}

.hero-info {
  color: #fff;
  width: 500px;
  height: 54px;
  font-size: 12px;
  font-weight: 400;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 530px;
}

.search-input {
  width: 456px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
}

.search-input:focus {
  outline: none;
  padding: 10px;
}

.search-btn {
  background-color: #114c63;
  width: 76px;
  height: 48px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#bars {
  /* display: none; */
  display: block;
}

/* end header */
.services {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 460px;
}

.services .mult-ser {
  color: #44acd4;
  font-size: 14px;
  font-weight: 400;
  height: 27px;
  display: inline-block;
}

.ser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27px;
  margin: 10px 0px;
}

.ser > span {
  color: #000;
  font-weight: 600;
  font-size: 24px;
  width: 80px;
  height: 46px;
}

.more > span {
  color: #44acd4;
  font-size: 14px;
  font-weight: 400;
}

.ser-info {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  height: 27px;
}

.ser-info span {
  color: #114c63;
}

.services .card {
  background: #fff;
  box-shadow: 0px 4px 21px 1px rgba(0, 0, 0, 0.06);
  border: none;
  width: 278px;
  height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.4rem;
  gap: 1rem;
  margin-bottom: 8px;
}

.services .card > img {
  width: 36px;
  height: 36px;
  background: rgba(216, 242, 252, 0.43);
  border-radius: 50%;
}

.services .card-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.services .card-text {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  width: 228px;
  height: 59px;
}

/* start services */
/* start about us */
.sec-about {
  margin-top: 6rem;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side > span {
  color: #44acd4;
  font-size: 14px;
  font-weight: 400;
}

.right-side .about-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.right-side .about-info {
  color: #000;
  width: 555px;
  height: 112px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.about-more {
  background-color: #114c63;
  color: #fff;
  font-size: 12px;
  width: 106px;
  height: 40px;
  border-radius: 109px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  position: relative;
}

.left-img2 {
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.list {
  width: 196px;
  height: 161px;
  background-color: #114c63;
  box-shadow: -18px 12px 21px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  position: absolute;
  top: -5%;
  right: 35%;
  padding: 1rem;
}

.list-item {
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 5px;
}

.list-item > img {
  background-color: #fff;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  padding: 3px;
}

.win {
  width: 237px;
  height: 52px;
  background-color: #fff;
  box-shadow: 0px 14px 37px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -7%;
  right: -20%;
  gap: 0.5rem;
}

.win > span {
  border-left: 0.1px solid #eee;
  padding: 0.5rem;
  font-size: 16px;
}

/* end about us */
.statistics {
  margin-top: 6rem;
  position: relative;
  background: linear-gradient(
    264.28deg,
    rgba(17, 76, 99, 0.02) 0.55%,
    rgba(91, 152, 175, 0.02) 49.66%,
    rgba(32, 96, 121, 0.02) 99.51%
  );
}

.sta-asset {
  position: absolute;
  top: -5%;
  left: 10%;
}

.set-title {
  color: #44acd4;
  font-size: 14px;
}

.img {
  width: 336px;
  height: 457.97px;
  position: absolute;
  top: -11%;
}

.sta-img {
  max-width: 100%;
  object-fit: cover;
}

.sta-info {
  padding: 3rem;
}

.statistics .card {
  flex-direction: row;
  height: 100px;
  padding: 10px;
  background-color: transparent;
  box-shadow: none;
  width: 210px;
  border: none;
}

.statistics .cards {
  margin-bottom: 10px;
}

.statistics .icons {
  background-color: #114c63;
  width: 74px;
  height: 74px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistics .card-text {
  width: 85px;
  color: #114c63;
}

.card-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.courses {
  margin-top: 5rem;
  padding: 2rem;
}

.courses .card {
  max-width: 379px;
  max-height: 549px;
  background: #ffffff;
  box-shadow: 0px 1px 16px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: none;
  position: relative;
  margin-bottom: 15px;
}

.courses-title,
.campany-title {
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size: 24px;
}

.card-body .card-title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.card-body .card-text {
  color: #999090;
  font-size: 14px;
}

.card-trainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-trainer .name {
  color: #114c63;
  font-size: 12px;
}

.date {
  color: #114c63;
  font-size: 12px;
}

.available {
  width: 80px;
  height: 27px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 12px;
  color: #000;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.available .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #6bdc58;
  margin-left: 5px;
}

.footer {
  background-color: #fff;
  height: auto;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  max-height: 45px;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.footer-item img {
  max-width: 13.51px;
  object-fit: cover;
}

.footer-item span {
  color: #114c63;
  font-size: 12px;
}

.company {
  margin: 5rem 0px;
}

.campanies {
  display: flex;
  justify-content: space-between;
}

.campany-img {
  width: 201px;
  height: 80px;
}

footer {
  background-color: #114c63;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0 1.5rem 0rem;
}

footer .container {
  height: auto;
  border-bottom: 0.2px solid #ffffff;
  padding-bottom: 8rem;
}

.footer-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  /* padding-bottom: 100px; */
  align-items: center;
}

.footer-item img {
  max-width: 100%;
}

.pages {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 2rem;
  justify-content: space-between;
}

.pages .pages-names {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.social {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social .icon {
  width: 36.19px;
  height: 36.19px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.contact-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.contact-input input {
  border: 1px solid #fff;
  background-color: transparent;
  width: 264px;
  height: 48px;
  border-radius: 8px;
  padding: 5px;
}

.contact-btn {
  width: 76px;
  height: 48px;
  border-radius: 4px;
  padding: 2px;
  color: #114c63;
  font-size: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyRight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  padding-top: 1rem;
}

.carousel-inner {
  height: 400px;
}

@media (max-width: 575.98px) {
  nav > ul {
    display: none;
  }

  .login {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .header-hero {
    width: 350px;
  }

  .hero-title,
  .hero-subTitle {
    font-size: 16px;
  }

  .hero-subTitle {
    width: 300px;
  }

  .hero-info {
    font-size: 14px;
    width: 320px;
  }

  .search {
    margin-top: 20px;
    flex-wrap: wrap;
    width: 230px;
  }

  .search-input {
    width: 270px;
  }

  .search-btn {
    width: 267px;
  }

  .navbar-nav {
    width: 300px;
  }

  .services .card {
    margin: auto auto 10px auto;
  }

  .right-side {
    margin-bottom: 20px;
  }

  .right-side .about-info {
    width: 346px;
    font-size: 11px;
  }

  .left-side {
    width: 320px;
  }

  .win {
    right: -2%;
  }

  .courses {
    padding: 18px;
  }

  .courses-title {
    padding: 25px 0px;
  }

  .courses .card {
    width: 333px;
    height: 453px;
    margin-bottom: 25px;
  }

  .footer-item span {
    font-size: 8px;
  }

  footer {
    height: 430px;
    justify-content: center;
    align-items: center;
  }

  .pages .pages-names {
    display: block;
  }

  .cards {
    display: block;
    margin-top: 10px;
  }

  .card-item {
    justify-content: space-around;
    display: flex;
    margin-bottom: 10px;
  }

  .pages {
    width: 300px;
  }

  .container {
    width: 100%;
  }

  .services .card {
    width: 153px;
    height: 160.21px;
    margin: 0;
    margin-bottom: 10px;
  }

  .services .card .card-title {
    font-size: 8px;
  }

  .services .card .card-text {
    font-size: 6px;
    width: 130.38px;
    height: 34.25px;
  }

  .statistics .card-text {
    font-size: 10px;
    width: 100%;
  }

  .statistics .card-title {
    font-size: 12px;
    font-weight: 600;
    color: rgba(17, 76, 99, 1);
  }

  .card-body .card-title {
    font-size: 12px;
  }

  .card-body .card-text {
    font-size: 10px;
  }

  .name-trainer .name,
  .date {
    font-size: 8px;
  }
}

/* start about us page */
.about-header {
  height: 421px;
  background: url("../img/about-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.about-laylout {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.about-header .line {
  top: 17%;
}

.about-header .header-hero {
  position: absolute;
  width: 113px;
  height: 61px;
  right: 664px;
  top: 200px;
  font-weight: 700;
  font-size: 32px;
  line-height: 61px;
  color: #fff;
}

/* about us section */
.about-page {
  margin-top: 5rem;
}

.about-se-span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.about-se-span .lines {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.about-se-span .lines span:first-child {
  width: 38px;
  height: 2px;
  background-color: #114c63;
}

.about-se-span .lines span:nth-child(2) {
  width: 29px;
  height: 2px;
  background-color: #114c63;
}

.about-se-span .lines span:nth-child(3) {
  background-color: #114c63;
  width: 21px;
  height: 2px;
}

.about-se-title {
  font: 24px;
  font-weight: 700;
  margin: 1.5rem 0rem;
  color: #114c63;
}

.about-se-text {
  width: 479px;
  height: 89px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000;
}

.about-cards-top {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.about-cards-top .top-card-title {
  width: 105px;
  height: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #114c63;
}

.about-cards-top .top-card-text {
  width: 259px;
  height: 81px;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-align: right;

  color: #000000;
}

.about-bottom-cards {
  position: relative;
  margin-top: 20rem;
}

.bottom-card {
  width: 278px;
  height: 257px;
  border: 1px solid #e4e4e4;
  border-radius: 19px;
  text-align: center;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-card:nth-child(3) {
  position: absolute;
  top: 32%;
  left: 1%;
}

.bottom-card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: #114c63;
}

.bottom-card-text {
  width: 232px;
  height: 81px;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  text-align: center;

  color: #000000;
}

.about-images {
  position: relative;
  height: 400px;
}

.about-images img {
  max-width: 100%;
}

.about-images img {
  max-width: 100%;
}

.about-images img:first-child {
  top: 21%;
  position: absolute;
}

.about-images img:nth-child(2) {
  left: 13%;
  position: absolute;
}

.about-texts {
  margin-top: 14rem;
  padding: 6rem;
}

.about-texts-title {
  width: 479px;
  height: 111px;
  font-weight: 600;
  font-size: 24px;
  line-height: 46px;
  text-align: right;

  color: #000000;
}

.about-texts .about-text {
  width: 479px;
  height: 89px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: right;

  color: #000000;
}

/* end about us section */
/* end about us page */

/* contact us page */
.header-hero.contact {
  width: 174px;
}

.contact-us {
  margin: 5rem 0rem 10rem 0rem;
  position: relative;
}

.rectangle {
  width: 117px;
  height: 117px;
  background: linear-gradient(225.15deg, #1e627c 5.53%, #059cd7 98.08%);
  border-radius: 8px;
}

.contact-form {
  position: absolute;
  top: 5%;
  right: 12%;
  width: 580px;
  height: 815px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 74px 16px rgba(17, 76, 99, 0.06);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-bottom: 2px solid #114c63;
}

.form-btn,
.service-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #114c63;
}

.btn-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #114c63;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 46px;
  color: #114c63;
}

.form-text {
  width: 430px;
  height: 90px;
  font-size: 16px;
  color: #999090;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.form-control {
  height: 56px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}

.form-control::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #d4d4d4;
}

.contact-form .btn {
  border: 1px solid #114c63;
  border-radius: 8px;
  background: transparent;
  width: 138px;
  height: 56px;
  color: rgba(17, 76, 99, 1);
  left: 37%;
  position: absolute;
  bottom: 8%;
}

.contact-card {
  padding-top: 1.3rem;
}

.contact-card .contact-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 46px;
  color: #000000;
}

.contact-card .card {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 503px;
  height: 234px;
  background: #ffffff;
  box-shadow: 0px 4px 74px 10px rgba(17, 76, 99, 0.07);
  border-radius: 16px;
  border: none;
}

.contact-card .card .card-text {
  width: 217px;
  height: 55px;
  font-weight: 400;
  font-size: 14px;
  color: #9d9d9d;
}

.contact-card .icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(180deg, #114c63 0%, #188cb9 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end contact us page */

/*  start course page*/
.course {
  margin-top: 5rem;
}

.course-header .link,
.navbar-dark .navbar-nav .nav-link {
  color: #000;
}

.course-header .line {
  border: 0.5px solid rgba(212, 212, 212, 1);
  background: rgba(212, 212, 212, 1);
  position: absolute;
  left: 0%;
}

.course-header .logIn {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #000000;
}

.course-header .reg {
  width: 106px;
  height: 40px;
  left: 128px;
  top: 30px;

  background: #114c63;
  border-radius: 49px;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;

  color: #ffffff;
}

.money {
  width: 751px;
  height: 485px;
  border: 1px solid #efefef;
  box-shadow: 0px 10px 77px -20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 36px 48px;
}

.course-card {
  width: 400px;
  height: 653px;
  background: #ffffff;
  box-shadow: 0px 10px 77px -20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 36px 29px;
}

.card-span {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-align: right;
  color: #000000;
  margin-top: 1rem;
  display: inline-block;
}

.join {
  width: 338px;
  height: 52px;
  left: 162px;
  top: 413px;
  background: #114c63;
  border-radius: 8px;
  border: 0px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 1rem;
}

.course-list-item {
  border-bottom: 1px solid #ebebeb;
  padding: 12px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.present-name {
  font-weight: 600;
}

.course-list-item:last-child {
  border: none;
}

.course-list-item .price {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: rgba(17, 76, 99, 1);
}

.present-span {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #114c63;
}

.course-span {
  width: 141px;
  height: 44px;
  background: #114c63;
  border-radius: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  padding: 0.5rem;
  margin: 2rem 0rem;
  display: inline-block;
}

.span-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 61px;
  color: #000000;
}

.course-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 46px;
  color: #000000;
  width: 1184px;
  height: 102px;
  background: rgba(17, 76, 99, 0.04);
  border-radius: 8px;
  padding: 28px 33px 28px;
  margin-bottom: 10px;
}

.courses-text {
  width: 1088px;
  height: 250px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  padding-right: 33px;
  margin-bottom: 36px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/mins.svg");
}

.accordion-button::after {
  background-image: url("../img/plus.svg");
}

/* .accordion-item:first-of-type{
  background: rgba(17, 76, 99, 0.08);
  border: 0.5px solid rgba(17, 76, 99, 0.39);
} */
.sub-title {
  width: 474px;
  height: 46px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 46px;
  color: #000000;
  margin-right: 33px;
}

.accordion-item:first-of-type .accordion-button,
.accordion-button {
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  color: #000000;
}

.sub-text {
  width: 1085px;
  height: 69px;
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: right;

  color: #000000;
  margin-right: 33px;
  margin-bottom: 3rem;
}

.about-courses {
  margin-top: 3rem;
}

.sec-resource {
  margin-bottom: 5rem;
}

.sec-resource .container {
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  padding: 88px 35px;
  position: relative;
}

.sec-resource .container > span {
  position: absolute;
  left: 3%;
  top: 4%;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  color: #114c63;
}

.resc-title {
  background: rgba(227, 227, 227, 0.46);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 22px;
  margin-bottom: 52px;
}

.resc-title h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 46px;
  color: #000;
}

.lecture-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.lecture-time span {
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;

  text-align: center;

  color: #000000;
}

.accordion-button:not(.collapsed) {
  background: rgba(17, 76, 99, 0.08);
  border: 0.5px solid rgba(17, 76, 99, 0.39);
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  height: 90px;
  color: #000000;
}

.unit-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.resource {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #114c63;
}

/*  end course page*/

/* start login page */
.sec-login,
.sec-reg {
  background: url("../img/login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 803px;
  position: relative;
  border-bottom: 8px solid rgba(68, 172, 212, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  background: rgba(2, 2, 2, 0.7);
}

.login-form,
.reg-form {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  padding: 34px 534px 117px 634px;
  flex-direction: column;
  gap: 3rem;
}

.login-form .form-control {
  background-color: transparent;
  color: #fff;
  width: 397px;
  height: 56px;
  left: 521px;
  top: 304px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-control::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #5c5c5c;
}

.pass {
  text-align: left;
}

.pass a {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
}

.login-form .login-btn,
.reg-form .reg-btn {
  width: 397px;
  height: 56px;
  background: #ffffff;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  color: #114c63;
  margin-top: 1.5rem;
}

.login-form .line,
.reg-form .line {
  width: 704px;
  height: 0px;
  left: 483px;
  top: 442px;
  border: 0.5px solid #ededed;
}

.login-social,
.reg-social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.login-social .login-social-items,
.reg-social .reg-social-items {
  display: flex;
  margin-bottom: 2.5rem;
  gap: 1rem;
}

.login-social-item,
.reg-social-item {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 0.5px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-social .login-social-title,
.reg-social .reg-social-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 20px;
}

.form-title {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 46px;
  text-align: center;
}

.account {
  color: #fff;
  font-size: 12px;
}

/* end login page */

/* start reg page */
.sec-reg {
  background: url("../img/reg.png");
}

.reg-form {
  position: relative;

  padding: 194px 527px 272px 751px;
}

.reg-form form {
  width: 750px;
}

.reg-form .form-control {
  width: 284px;
  height: 56px;
  background-color: transparent;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #fff;
}

.reg-form .reg-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.reg-form .line {
  top: 602px;
  left: 739px;
}

.reg-social {
  margin-top: 2rem;
}

.select-input {
  display: flex;
  width: 200px;
}

.select-input select {
  width: 50%;
}

#phone {
  padding-left: 48px;
  background-image: url("path/to/flags.png");
  background-repeat: no-repeat;
  background-position: left center;
}

/* end reg page */

/* start service page */
.sec-services {
  margin: 5rem 0rem 10rem 0rem;
  position: relative;
}

.ser-rectangle {
  width: 479px;
  height: 653px;
  border: 1px solid #114c63;
  margin-bottom: 5rem;
  position: relative;
}

.sec-services .service-form form {
  width: 50%;
}

.sec-services .service-form .form-text {
  text-align: right;
}

.service-btn {
  margin: auto;
  border: 1px solid #1e627c;
}

.ser-img {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  top: -3%;
  width: 479px;
  height: 653px;
  left: 13%;
}

/* end service page */

/* start forgetPass page */
.sec-forgetPass {
  margin: 10rem 0rem;
}

.sec-forgetPass .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 782px;
  height: 486px;
  background: #ffffff;
  box-shadow: 0px 13px 29px 11px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  position: relative;
}

.reg-login {
  position: absolute;
  right: 36px;
  top: 37px;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #000000;
}

.reg-login a {
  color: #114c63;
  text-decoration: underline;
}

.form-forgetPass h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  text-align: right;
  color: #114c63;
}

.form-forgetPass p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #797979;
  width: 378px;
  height: 64px;
  margin-bottom: 19px;
}

.form-forgetPass .form-control {
  width: 378px;
  height: 56px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  margin-bottom: 22px;
  /* position: relative; */
}

.form-forgetPass .form-control::placeholder {
  color: #d9d9d9;
  font-size: 14px;
  padding-right: 30px;
}

.form-forgetPass .forget-btn {
  width: 378px;
  height: 51px;
  background: #114c63;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-align: center;

  color: #ffffff;
}

.back-login {
  margin-top: 76px;
}

.back-login p {
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #000000;
}

.back-login p > a {
  text-decoration: underline;
  color: #114c63;
}

.form-forgetPass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}

.form-changePass {
  margin-top: 3rem;
}

.form-forgetPass .change-pass-text {
  height: 30px;
}

.form-forgetPass .form-control {
  position: relative;
}

.eye-img {
  position: absolute;
  top: 48%;
  left: 28%;
  z-index: 2;
}

.eye-img.two {
  top: 32%;
}

.email-img {
  position: absolute;
  top: 50%;
  right: 27%;
  z-index: 2;
}

/* end forgetPass page */
/* start new Pass page */
.sec-newPass {
  margin: 5rem 0rem;
}

.user-info {
  width: 302px;
  height: 869px;
  border: 1px solid #d9d9d9;
  filter: drop-shadow(0px -1px 15px rgba(0, 0, 0, 0.06));
  border-radius: 8px;
  background-color: #fff;
}

.new-pass {
  width: 805px;
  height: 622px;
  background: #ffffff;
  box-shadow: 0px 4px 22px 5px rgba(0, 0, 0, 0.06);
  margin: 77px 27px;
}

.user-info-list {
  padding: 188px 25px 651px 90px;
}

.user-info-list li {
  display: flex;
  align-items: center;
  gap: 27px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 17px;
}

.user-info-list li a:first-child {

  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.user-info-list li:nth-child(1) a {
  color: #000;
}
.user-info-list li:nth-child(2) a {
  color: #114c63;
}

.form-newPass {
  padding: 112px 213px 427px 364px;
  display: block;
}

.form-newPass p {
  text-align: right;
}

.form-newPass .form-control {
  position: relative;
}

.form-newPass .eye-img {
  position: absolute;
  top: 98%;
    left: 31%;
  z-index: 2;
}

.form-newPass .eye-img.two {
  position: absolute;
  top: 74%;
    left: 31%;
  z-index: 2;
}

.form-newPass .eye-img.three {
  position: absolute;
  top: 86%;
    left: 31%;
}

/* end new Pass page */
/* start profile page */
.sec-profile {
  margin: 6rem 0rem;
}

.profile {
  margin: 0px;
  width: 805px;
  height: 869px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-profile {
  margin: 0px;
}

.profile-cover {
  position: relative;
  width: 805px;
  height: 247px;
  background: rgba(17, 76, 99, 0.1);
}

.profile-img {
  top: 146px;
  left: 315px;
  bottom: 75px;
  width: 176px;
  height: 176px;
  border-radius: 50%;
  border: 1px solid #114c63;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img img {
  border-radius: 50%;
  max-width: 100%;
}

.form-profile {
  padding: 151px 168px 410px 211px;
}

.form-profile form label {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #9d9d9d;
}

.btn-save {
  background: #114c63;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  width: 86px;
  height: 47px;
}

.btn-cancle {
  width: 86px;
  height: 47px;
  border: 0.5px solid #114c63;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #114c63;
}

/* end profile page */

/* start allCourse page */
.allCourse-header{
  height: 388px;
  background: #FFFFFF;
box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.1);
}
.dropdown-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem
}
.dropdown-toggle::after{
  background: url('../img/bottom.svg');
  height: 10.5px;
  width: 26px;
  background-repeat: no-repeat;
  border: none;


}
.btn-secondary{
  border: none;
  color: #000;
  background-color: transparent;
}
.btn-secondary:hover{
  background-color: #114c63;
}
.btn-secondary img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.dropdown-menu {
  width: 147px;
height: 100px;
background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
border-radius: 8px;
}
.dropdown-menu li a{
  font-weight: 400;
font-size: 10px;
line-height: 19px;
color: #000000;
display: flex;
gap:0.5rem
}
.headerCourse-hero{
position: relative;
height:388px;
}
.hero-title{
  font-weight: 600;
font-size: 24px;
line-height: 46px;
color: #000000;
position: absolute;
top: 16%;
right: 42%;
}
.line-title{
  position: absolute;
  width: 81px;
height: 7px;
background: #114C63;
top: 26%;
    right: 42%;
}
.course-type{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 19%;
  gap:188px;
}
.course-type li {
  font-weight: 500;
font-size: 20px;
line-height: 38px;
color: #000000;
height: 38px;

}
.course-type li.active{
  border-bottom: 3px solid #114C63;
}
.sec-allCourse{
  margin: 5rem 0rem;
}
.sec-allCourse .card{
  padding: 32px 34px 31px 32px;
  background: #FFFFFF;
box-shadow: 0px -1px 50px rgba(16, 24, 40, 0.08);
border-radius: 8px;
border: none;
position: relative;
margin-bottom: 30px;
}
.card-right{
  gap:1rem
}
.card-right img{
  width: 185px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.prog-div{
padding-top:39px;
position: relative;
}
.card-line{
  transform: rotate(90deg);
  position: absolute;
  width: 149px;
 top: 50%; 
 left: 1%;
  border: 1px solid #D6D6D6;
}
.progress {
  width: 308px;
  height: 6px;
}
.progress-bar{
  background: #60BC6E ;
}
.per-sent{
  display: flex;
  align-items: center;
  gap:1rem;
}
.per-sent span{
  font-weight: 600;
font-size: 10px;
line-height: 19px;
color: #000000;
}
.dot-img{
  position: absolute;
  left: 2%;
  top: 10%;
}
.row-title{
  font-weight: 700;
font-size: 15px;
line-height: 29px;
color: #114C63;
text-align: left;
position: absolute;
top: -15%;
left: 0%;
}
.pagination-div{
position: relative;
}
.pagination-div nav > ul {
  width: 0;
  position: absolute;
  left: 60%;
  top: 10%;
}
.page-item:first-child .page-link{
  background: #114C63;
}
.page-item:first-child .page-link span{
  color: #fff;
}
.page-item:last-child .page-link{
background: #E3E3E3;
}
.page-item:last-child .page-link span{
  color: #114C63;
}
.page-item:not(:first-child) .page-link ,.page-item:not(:last-child) .page-link{
  border: none;
  color: #114C63;
}


/* end  allCourse page */

/* start complete page */
.g-btn
{
  padding-top: 25px;
}
.btn-summary{
  width: 116px;
height: 47px;
background: #114C63;
border-radius: 8px;
font-weight: 600;
font-size: 10px;
line-height: 19px;
color: #FFFFFF;
}
.btn-rate{
  width: 116px;
  height: 47px;
  font-weight: 500;
  font-size: 10px;
  line-height: 19px;
  color: #114C63;

}
.prog-img-correct{
  width: 17.92px;
  height: 17.92px;
  background: #60BC6E;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.prog-text{
  display: flex;
  gap:0.5rem;
  font-weight: 400;
font-size: 10px;
line-height: 19px;
color: #000000;
}
.prog-img-correct img{
  max-width: 100%;
  height:7.07px ;
  width: 9.57px;
}
.card-line.complete{
  left: -10%;
}

/* end complete page */

/* login and reg page responsive */
@media (max-width: 575.98px) {
  footer {
    padding: 0px;
  }

  .navbar-dark .navbar-toggler {
    background-color: #000;
  }

  footer .container {
    padding: 1rem;
  }

  .reg-form form,
  .login-form {
    width: 85%;
  }

  .login-form .form-control {
    width: 302px;
  }

  .login-form .login-btn {
    width: 302px;
  }

  .login-form,
  .reg-form {
    padding: 0px;
    gap: 1rem;
  }

  .login-form .login-btn,
  .reg-form .reg-btn {
    width: 250px;
  }

  .login-social .login-social-items,
  .reg-social .reg-social-items {
    margin-bottom: 0.5rem;
  }

  .reg-social {
    margin-top: 0;
  }

  .form-title {
    padding-top: 3rem;
  }
}

/* end login and reg page responsive */
